/*
  use this file to add additional styling for the editor area 
*/


p:after {
  /* add pilcrow sign to make paragraphs visible */
  content:"\00B6";
}

br:before {
  /* add hooked left arrow to make line breaks visible.
     line breaks can be generated with CTRL-Enter.
     Firefox does not render this, IE neither. */
  content:"\21B5";
}

