/*****************************************************************************
 *
 * Kupu drawer styles
 *
 * Copyright (c) 2003-2004 Kupu Contributors. See CREDITS.txt
 *
 * Instead of customizing this file, it is recommended to add your own
 * CSS file.  Feel free to use whole or parts of this for your own
 * designs, but give credit where credit is due.
 *
 *****************************************************************************/

/* $Id: kupudrawerstyles.css 8770 2005-01-31 19:04:36Z gregor $ */

img.library-icon-collection, img.library-icon-resource {
  margin-right: 5px;
  height: 16px;
  width: 16px;
  vertical-align: middle;
}

span.drawer-item-title {
  padding-left: 2px;
  padding-right: 2px;
  height: 16px;
  vertical-align: middle;
}
