.lenyaNotificationDate {
  white-space: nowrap;
}

.lenyaNotificationSubject {
  overflow: hidden;
  white-space: nowrap;
  width: 150px;
}

tr.lenyaNotificationMessageRead,
tr.lenyaNotificationMessageRead a,
tr.lenyaNotificationMessageHighlight a {
  color: #666666;
}

tr.lenyaNotificationMessageHighlight {
  background-color: #DDDDDD;
}

.lenyaNotification textarea {
  width: 600px;
  height: 200px;
  border: 1px solid #CCCCCC;
  background: #FFFFFF;
  font-family: Arial;
}

.lenyaNotification {
  font-family: Arial;
}

.lenyaNotification span.lenyaNotificationLabel {
  font-weight: bold;
  color: #666666;
  width: 5em;
  display: block;
  float: left;
}

.lenyaNotificationActions {
  float: right;
}

.lenyaNotification p {
  margin-top: 1em;
  margin-bottom: .5em;
}